body {
       background-image: url(../../images/background2.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       font-family: sans-serif;
}


.container {
       width: 100%;
       max-width: 800px;
       margin: 50px auto;
       background-color: white;
       padding: 20px;
       border-radius: 8px;
}

h1 {
       font-size: 24px;
       font-weight: bold;
       text-align: center;
       margin-bottom: 30px;
}

.form {
       display: flex;
       flex-direction: column;
       gap: 15px;
}

.column {
       display: flex;
       flex-wrap: wrap;
       gap: 20px;
       margin-bottom: 15px;
}

.input-box,
.quest {
       flex: 1;
       min-width: 200px;
       display: flex;
       flex-direction: column;
}

label {
       font-weight: bold;
       margin-bottom: 5px;
}

input,
select {
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 5px;
       font-size: 16px;
       width: 95%;
}

input:focus,
select:focus {
       border-color: #007BFF;
       outline: none;
}

button {
       border-radius: 5px;
       color: white;
       align-items: center;
       padding: 5px;
       cursor: pointer;
}

.edit {
       background-color: #165757;

}

.del {
       background-color: rgb(216, 70, 70);
}

.book {
       background-color: #28a745;
}

table {
       width: 75%;
       border-collapse: collapse;
       border-style: ridge;
       margin-top: 20px;
}

tr:nth-child(even) {
       background-color: rgb(228, 156, 156);
}

td,
th {
       text-align: center;
       height: 50px;

}